.GmaeHeading{
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    text-decoration: underline;
    color: brown;
    font-family :'Times New Roman', Times, serif;
}
.icons{
    font-size: 80px; 
}
.btncsss{
    margin: 5px;
    border: none;
    box-shadow: 0px 0px 5px gray ;
    box-sizing: border-box;
    font-weight :100;
}
.correct {
    color: green;
}
.incorrect {
    color: red;
}